<h3>Courses</h3>
<table class="table-striped table-sortable table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>University</th>
      <th>Instructor</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
<% @courses.each do |course| %>
  <tr>
  <td><a href=<%= course.social_link %> title="<%= course.description %>"><%= course.name %></a></td>
    <td><%= course.company%></td>
    <td><%= course.university.capitalize %></td>
    <td><%= course.instructor.split(',').first %></td>
    <td><%= start_date(Array(course.start_date).last) %></td>
  </tr>
<% end %>
  </tbody>
</table>
